.modal-overlay {
    margin: auto;
    background-color: rgba(245, 245, 245, 0.596);
    width: 600px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.modal-title {
    align-self: start;
    font-size: 2em;
}

.modal-status {
    font-size: larger;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    &.status-done {
        background-color: rgb(60, 255, 0);
    }
    &.status-progress {
        background-color: rgba(0, 0, 0, 0.151);
        color: rgba(0, 0, 0, 0.603);
    }
}

.modal-section {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.74);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.month-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.chart-wrapper {
    width: 90%;
    background-color: white;
}

.comment-edit-box {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.comment-save-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
