.modal {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 600px;
    background-color: rgba(83, 83, 83, 0.205);
    backdrop-filter: blur(15px);
    transform: translateX(-100%);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);

    &.activate {
        transform: translateX(0);
    }

    display: flex;
    flex-direction: column;
    & button {
        background-color: rgba(0, 0, 0, 0.096);
        color: white;
        font-size: 1.2em;
        font-weight: 700;
        border: none;
        border-radius: 7px;
        padding: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
            filter: brightness(2);
            background-color: rgba(0, 0, 0, 0.705);
        }
    }

    & > .modalHead {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 0px 20px;
    }

    & > .modalContent {
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
