.page {
    position: relative;
    width: 1000px;
    height: 700px;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    overflow: hidden;
}
