.page {
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #272727;
    overflow: hidden;
}
